
#addRoadBtn, #addPOIBtn{
  width: 10em;
  margin: auto;
}

.idBtn {
  width: 8em;
  color: #141414;
  text-align: left!important;
}

.idBtnQuit {
  text-align: left!important;
  width: 2em;
  color: #141414;
}

#poiContainer, #roadsContainer {
  margin-bottom: 3em;
  height: 35vh;
  background-color: #141414;
  padding: 1em;
  padding-bottom: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

#poiContainer .row, #roadsContainer .row {
  margin-bottom: 1em;
}
