#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 370px;
  height: 100vh;
  background-color: #141414;
  box-shadow: rgba(0,0,0, 0.5) 2px 0px 4px;

  padding-top: 10px;
}

#mapContainer {
  position: fixed;
  top: 0;
  left: 370px;
  width: 643px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#companyName {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

#version {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.underline {
  border-bottom: solid #444444 1px;
}

#map {
  height: 100vh;
  width: 1484px;;
}

#orthophoto, #glCanvas{
  position: fixed;
  top: 195px;
  left: 415px;
  width: 520px;
  height: 385px;
  -webkit-transform: rotate(-114deg);
  transform: rotate(-114deg);
  border: solid white 2px;
}

.itemNumber {
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 10px;
}

.itemName {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
  background: transparent;
  border: none;
}

.itemName:enabled {
  color: white!important;
}
.addButton, .doneButton {
  font-size: 15px;
  text-decoration: none !important;
  outline:none !important;
  border: none !important;
  box-shadow: none !important;
  float: right;
}

.addButton {
  color: #AAAAAA!important;
  background: transparent;
}

.doneButton {
  color: white!important;
  background: #888888;
}

.edit-button, .cancel-button {
  color: #888 !important;
}

*:focus{
  text-decoration: none !important;
  outline:none !important;
  border: none !important;
  box-shadow: none !important;
}
