<div>

  <div id='sidebar'>

    <div class='row title'>
      <div class='col-sm-10 offset-sm-1'>
        <h1 id='companyName'>AUTONOMAPPR <span id='version'>V1.0</span></h1>
      </div>
    </div>
    <br>
    <div class='row title underline'><div class='col-sm-10 offset-sm-1'>Roads</div></div>

    <div id='roadsContainer'>
      <div class='row' ng-repeat='road in roads'>
        <div class='col-sm-1'>
          <span class='itemNumber' ng-style="{'color' : '{{road.color}}'}">R{{road.id}}</span>
        </div>
        <div class='col-sm-7 offset-sm-1 underline' >
          <input id='r{{road.id}}' class='itemName' type='text' ng-model='road.name' ng-style="{'color' : '{{road.color}}'}" disabled='true'>
        </div>
        <div class='col-sm-3 underline'>
          <a class='edit-button' ng-click='addToRoad(road.id)'><i class='material-icons'>edit</i></a>
          <a class='cancel-button' ng-click='removeRoad(road.id)'><i class='material-icons'>cancel</i></a>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <button class='btn addButton' id='addRoadBtn' type='submit' ng-click='toggleRoadMode()'>{{addRoadDisplay}}</button>
        </div>
      </div>
    </div>
    <div id='poiContainer'>
      <div class='row' ng-repeat='poi in poiList'>
        <!-- <div class='col-lg-10 col-offset-1'>
          <input class='btn idBtn' ng-style="{'background' : '{{poi.color}}'}" type='submit' value='POI {{poi.id}}' ng-click='addToPOI(poi.id)'>
          <input class='btn idBtnQuit' ng-style="{'background' : '{{poi.color}}'}" type='submit' value='X' ng-click='removePOI(poi.id)'>
        </div> -->
        <div class='col-sm-1'>
          <span class='itemNumber' ng-style="{'color' : '{{poi.color}}'}">P{{poi.id}}</span>
        </div>
        <div class='col-sm-7 offset-sm-1 underline' >
          <input id='p{{poi.id}}' class='itemName' type='text' ng-model='poi.name' ng-style="{'color' : '{{poi.color}}'}" disabled='true'>
        </div>
        <div class='col-sm-3 underline'>
          <a class='edit-button' ng-click='addToPOI(poi.id)'><i class='material-icons'>edit</i></a>
          <a class='cancel-button' ng-click='removePOI(poi.id)'><i class='material-icons'>cancel</i></a>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <button class='btn addButton' id='addPOIBtn' type='submit' ng-click='togglePOIMode()'>{{addPOIDisplay}}</button>
        </div>
      </div>
    </div>

    </div>
  </div>
  <div id='mapContainer'>
    <div id='map'></div>
    <div id='mapOverlay'></div>
    <div id='orthophotoContainer'>
      <img src='img/odm_orthophoto.png' id='orthophoto'>
      <canvas id='glCanvas'></canvas>
    </div>
  </div>
  <!-- <div class='row'>
    <div class='col-lg-2 offset-lg-1 col-sm-4 offset-sm-1'>
      <div id='roadsContainer'>
        <div class='row'>
          <div class='col-lg-10 col-offset-1'>
            <input class='btn btn-success' id='addRoadBtn' type='submit' value='{{addRoadDisplay}}' ng-click='toggleRoadMode()'>
          </div>
        </div>

        <div class='row' ng-repeat='road in roads'>
          <div class='col-lg-10 col-offset-1'>
            <input class='btn idBtn' ng-style="{'background' : '{{road.color}}'}" type='submit' value='Road {{road.id}}' ng-click='addToRoad(road.id)'>
            <input class='btn idBtnQuit' ng-style="{'background' : '{{road.color}}'}" type='submit' value='X' ng-click='removeRoad(road.id)'>
          </div>
        </div>
      </div>

      <div id='poiContainer'>
        <div class='row'>
          <div class='col-lg-10 col-offset-1'>
            <input class='btn btn-success' id='addPOIBtn' type='submit' value='{{addPOIDisplay}}' ng-click='togglePOIMode()'>
          </div>
        </div>
        <div class='row' ng-repeat='poi in poiList'>
          <div class='col-lg-10 col-offset-1'>
            <input class='btn idBtn' ng-style="{'background' : '{{poi.color}}'}" type='submit' value='POI {{poi.id}}' ng-click='addToPOI(poi.id)'>
            <input class='btn idBtnQuit' ng-style="{'background' : '{{poi.color}}'}" type='submit' value='X' ng-click='removePOI(poi.id)'>
          </div>
        </div>
      </div>
    </div>
    <div class='col-lg-6 offset-lg-1 col-sm-6'>
      <img src='img/odm_orthophoto.png' id='orthophoto'>
      <div id='mapOverlay'></div>
      <canvas id='glCanvas'></canvas>
    </div>
  </div> -->
</div>
